/* main color, h1 text color,  fff */
/* second color 2f303a */
/* main text color 757575  */
/* h2,h3 color text 212121 and menu */
/*accent color 2196F3 */
/*  */

:root{
    --main-bg: #fff;
    --second-bg: #2f303a;
    --main-text-color: #757575;
    --h-color-text: #212121;
    --btn-and-accent: #2196F3; 
    --footer-contact: #ffffff99;
    --btn-hover-primery: #188CE8;
    --btn-portfolio-bgr: #F5F4FA;
    --logo-heder: #000;
    --border: #EEEEEE;
    --teams-bg: #F5F4FA;
    --heder-border: #ECECEC;
    
}
h1,h2,h3,h4,h5,h6,p,ul{
   margin-top: 0px;
   margin-bottom: 0px;
   /* padding-left: 0px; */
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg);
    color:var(--main-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
        
}
img{
    max-width: 100%;
    display: block;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid tomato;
    padding-left: 15px;
    padding-right: 15px;
  }
.main-div{
    display: flex;
    align-items: center;
}
.page-header{
    border-bottom: 1px solid var(--heder-border);
}

.logo{


    font-family: 'Raleway', sans-serif;
    color: var(--logo-heder);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.blu{
    color: var(--btn-and-accent);
}
.link{
    text-decoration: none;
}

.site-nav {
    margin-left: 93px;
    display: flex;

}

.site-nav .item{
    display: flex;

}
.site-nav .item + .item{
    margin-left: 50px;
}
.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--h-color-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .curentli {
    color: var(--btn-and-accent);
}
.contact {
    display: flex;
    margin-left: auto;
}

.contact .item + .item{
    margin-left: 50px;
}
.contact .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.link:hover,
.link:focus,
.footer-link:hover,
.footer-link:focus,
.footer .logo:hover,
.footer .logo:focus {
    color: var(--btn-and-accent);
}

/* section main */
/* hero */
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--second-bg) ;
    text-align: center;
   
}
.hero-title{
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-bg);
}
.btn{
    min-width: 200px;
    padding: 10px 32px;
    border: 0;
    border-radius: 4px;

    background-color:var(--btn-and-accent);
    color: var(--main-bg);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.btn:hover,
.btn:focus{
   background-color: var(--btn-hover-primery);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.feateres .item{
width: calc((100% - 90px) / 4);
}
.feateres .item + .item{  
    margin-left: 30px;
}

.feateres .text{
    font-size: 14px;
    line-height: 1.71;
}
.galery .link img {
    display: block;
}
.galery{
    display: flex;
    flex-wrap: wrap;
   
}
.galery .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;

}

.galery .item:nth-child(3n) {
    margin-right: 0px;
}

.teams{
    background-color: var(--teams-bg);
}
.teams .item {
    
    text-align: center;
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    padding-bottom: 30px;
    display: block;
    
}
.teams .item:nth-child(4n){
    margin-right: 0px;
}
.profession{
    padding-top: 30px;
    padding-bottom: 30px;
}

.feature-list .title{
    color: var(--h-color-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
    border: 1px solid green;
}
.work {
    padding-top: 0px;
}
.section-title{
    text-align: center;
    color: var(--h-color-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;

}

.section-list .title{
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--h-color-text);
}

.text{
    font-size: 16px;
    line-height: 1.18;
    color: var(--main-text-color);

}
.site-nav {
    display: flex;
} 


.section-list,
.site-nav,
.contact
{
   list-style-type: none;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
}

/* FOOTEr */
.footer{
        padding-top: 60px;
        padding-bottom: 60px;
    background-color: var(--second-bg);
}


.footer-contact{
list-style-type: none;
padding-left: 0px;
}
.footer-item{
    display: block;
}
.footer-text{
    color: var(--main-bg);
    margin-bottom: 9px;
}

.footer-link{
 
    color: var(--footer-contact);
    text-decoration: none;
}

.footer .logo{
    display: block;
    color: var(--main-bg);
    margin-bottom: 20px;
}
.adres{
    font-style: normal;
}
.item.mail{
    margin: 9px 0px;
}
.footer-text{
    color: var(--main-bg);

}

/* portfolio */
.project{
    padding: 20px 24px;
    border-right: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}
.portfolio-title{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-link{
    text-decoration: none;
    color: var(--h-color-text);
}
.btn-portfolio{
background-color: var(--btn-portfolio-bgr);
color: var(--h-color-text);
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
cursor: pointer;
min-height: 38px;
min-width: 73px;
padding: 6px 22px;
}
.btn-portfolio:hover,
.btn-portfolio:focus{
    background-color: var(--btn-and-accent);
    color: var(--main-bg);
}
.filtr .section-list{
    justify-content: center;
}
.section-list .prt-item + .prt-item{
    margin-left: 8px;
}
.prt-item{
    margin-bottom: 50px;
}
.prt-work {
    display: flex;
    flex-wrap: wrap;
}
.galery-item{
    box-sizing: border-box;
    width: calc((100% - 60px) / 3);
    
}

.prt-work .galery-item{
    margin-bottom: 30px;
}
.prt-work .galery-item:nth-last-child(-n+3){
    margin-bottom: 0px;
}
.prt-work .galery-item {
margin-right: 30px;
}
.prt-work .galery-item:nth-child(3n){
margin-right: 0px;
}